maestro.dev:80

root /var/www/maestro/public
tls off
gzip
log /var/log/caddy/access.log
errors /var/log/caddy/error.log

proxy /parse maestro-backend:3308 {
	transparent
}

rewrite {
	to {path}/ {path}
}
