maestro.dev:80

root /var/www/maestro/public
tls off
gzip
log /var/log/caddy/access.log
errors /var/log/caddy/error.log

rewrite /api {
	regexp .*
	to localhost:3308/parse?{query}
}

rewrite {
	to {path}/ {path}
}
